/*profile*/
body{
	font-family: "Montserrat";
}
.icon_profile{
	margin-top: 20px;
  }
  .profile{
	margin-top: 20px;
	color: black;
  }
  .margin{
	margin-top: 80px;
  }
  .foot{
	margin-top: 15px;
	float: left;
	position: absolute;
	top: 675px;
	left: 50px;
	height: 180px;
	width: 300px;
	border: 1px solid #B7B7B7;
	box-shadow: 4px 1.5px 5px #999999;
	border-radius: 5px;
	color: black;
	background-color:  #F3F3F3;;
	padding-top: 20px;
	text-align: center;
	margin-bottom: 50px;
  }
  
  .styling{
	color: black;
  }
  
  .style{
	color: black;
	position: relative;
	left: 0px;
	text-align: left;
  }

.boxed {
  
	height: 500px;
	width: 300px;
	position: relative;
	left: 50px;
	margin-top: 50px;
	border-radius: 5px;
	border: 1px solid #B7B7B7;
	box-shadow: 4px 1.5px 5px #999999;
	outline: 1px;
	font-size: var(--fontSubTextSize);
	float: left;
	color: black;
	background-color: #F3F3F3;
	
  }

  /* image */
.container {
	left: 500px;
	width: 33%;
	float: right;
	margin-top: 50px;
	height: 450px;
	margin-bottom: 50px;
  }
  
  .image {
	display: block;
	opacity: 1;
	width: 100%;
	height: 700px;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 5px;
	float: right;
	margin-right: 40px;
	margin-left: 40px;
	border: 1px solid #B7B7B7;
	box-shadow: 4px 1.5px 5px #999999;
  }
  
  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
  
  .container:hover .image {
	opacity: 0.3;
  }
  
  .container:hover .middle {
	opacity: 1;
  }
  
  .text {
	background-color: #4aa96c;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }
  /* Feature-Box */


#features {
	position: absolute;
	margin-left: 300px;
  }
  .feature-box1{
	position: relative;
	align-items: center;
	top: 20px;
	right: 100px;
	padding-right: 120px;
  }
  .feature-box{
	align-items: center;
   
  }
  .icon:hover {
	color: #fff;
  }
  



/*====================	MAIN SECTION ================*/

/*parent of contact and chat section*/
.mainnotfixed
{	position: relative;
    left: 90px;
	width: 500px;
	height: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
	

}

/*Design of contact section on left*/
.contact
{

	background-color: #F3F3F3;
	border: 1px solid #B7B7B7;
	border-radius: 4px 0 0 4px;
	box-shadow: 4px 1.5px 5px #999999;
	width: 35%;
	box-sizing: border-box;
	float: left;
	height: 700px;
	border-right: 1px solid black;
}

/*heading text design*/
.headmsg
{
	height: 50px;
	background-color: #4aa96c;
	width: 100%;
}

.headmsg p
{
	margin: 0px;
	color: white;
	font-family: verdana;
	font-size: 20px;
	padding-top: 12px;
	text-align: center;

}
#contactsearch
{
	margin-bottom: 4px;
}

/*design search bar*/
#searchcontact
{
	background-image: url('../images/login/search.png');
	background-position: 5px 4px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding:8px;
	padding-left:30px;
	border-radius: 8px;
	font-size: 14px;
	width:98%;
	border:0px;
	outline: 0px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.3);
}

.contacts
{
	overflow: auto;
	height: 440px;
	width: 99%;

}

.contacts .contactuser
{
	width: 100%;
	padding: 4px 2px 4px 2px;
	overflow: hidden;
	margin-bottom: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

.contacts .contactuser p
{
	display: inline;
	position: relative;
	top: 10px;
	left: 15px;
	font-size: 15px;
}

/*Design of chat section on right*/
.chat
{
	background-color: #F3F3F3;
	border: 1px solid #B7B7B7;
	border-radius: 0 4px 4px 0;
	/*padding: 15px;*/
	box-shadow: 4px 1.5px 5px #999999;
	width:65%;
	box-sizing: border-box;
	float: right;
	height: 700px;
	border-left: 1px solid black;
	position: relative;
}

/*chat user heading design*/
.chatuser
{
	height: 50px;
	background-color: #4aa96c;
	width: 100%;
}

/*text area to send msg design*/
#textarea
{
	width: 83%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 1px;
	resize: none;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.4);
	outline: 0px;
	padding: 5px;
	font-size: 14px;
}

/*send symbol design*/
#sendsymbol
{

	position: absolute;
	/*bottom: 2px;*/
	bottom: -4px;
	right: -1px;
	margin: 0px;
	padding: 0px;
	font-size: 48px;
	color: #4aa96c;
	font-weight: bold;
	/*color: #4aa96c;*/
	cursor: pointer;
}

/*hover effect on send symbol*/
#sendsymbol:hover
{
	color: #4aa96c;
	/*color: #48FFA8;*/
}


/*chat user picture*/
.chatuser img
{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 50%;
}

/*chat msg user name*/
.chatuser p
{
	display: inline-block;
	margin-top: 15px;
	font-size: 18px;
	margin-left: 12px;
	color: white;
	font-family: verdana;


}

/*chat msg box*/
.chatmsg
{
	width: 100%;
	height: 645px;
	background-color:  #F3F3F3;
	box-shadow: 0px 4px 8px  #F3F3F3;
	overflow: auto;
}

/*msg received and send box*/
.received, .send
{
	display: none;
	overflow: hidden;
	position: relative;
}

/*chat msg design*/
.chatmsg p
{
	padding: 6px;
	margin: 10px;
	/*border: 1px solid #43E954;*/
	border: none;
	max-width: 260px;
	/*width:100%;*/
	font-size: 14px;
}

/*msg received design*/
.received p
{
	float: left;
	background-color: #F3F3F3;
	margin-left: 15px;
	border-radius: 0px 5px 5px 5px;
}

/*msg send desing*/
.send p
{
	float: right;
	background-color: #DCF8C6;
	margin-right: 15px;
	border-radius: 5px 0px 5px 5px;
}

/* Add arrows to the left container (pointing left) */
.send::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    right: 0px;
    border: medium solid white;
    border-width: 0px 0px 15px 15px;
    border-color: transparent transparent transparent #DCF8C6;
}

/* Add arrows to the right container (pointing left) */
.received::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1;
    left: 0px;
    border: medium solid white;
    border-width: 0px 15px 15px 0;
    border-color: transparent #F3F3F3 transparent transparent;
}
